 h1{
  color: red;
  font-family: Helvetica, Arial, sans-serif;
}/* unvisited link */
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}
aside { float:right; }